@font-face{
  font-family: Connection;
  src: url("./assets/connection-font/Connection-arMJ.otf");
}
@font-face{
  font-family: Connection;
  src: url("./assets/connection-font/ConnectionBold-ER1g.otf");
  font-weight: bold;
}
body{
  background-color: #519331;
  font-family: Connection;
}
.scoreTitle {
  display: flex;
  justify-content: center;
  color: #0f380f;
  font-size: 4vw;
}

.scoreBoard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -450%);
  border-color: #0f380f;
  border-style: double;
  border-width: 8px;
  max-width: 80vw;
  text-align: center;
}

.score {
  font-size: 3vw;
  color: #0f380f;
}

.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: #0f380f;
  border-style: double;
  border-width: 8px;
  width: 10vw;
  height: 20vw;
  /* This is changed from 55vh to 20vw */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  grid-gap: 1px;
}
.square {
  background-color: #0f380f;
}
